@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --text: #fdf0d5;
    --primary: #005F73;
    --secondary: #94D2BD;
    --alert: #AE2012;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
